@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.active {
  display: block;
}

p {
  display: inline;
}

@keyframes askPlayer{
  0%{
    top: 50%;
  }
  100%{
    top: 60%;
  }
}